.card .title {
  font-family: PlayfairDisplay;
  font-size: 20px;
  color: #7afae3;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #ea5c5a;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.synopsis {
  font-family: Roboto;
}
